        
        
<h3> Answer questions for and follow some of the special interests below!</h3>
        <h1> </h1>
        
        <li>
          
          <a href="/comingsoon">Today's question in politics</a>
        </li>
        

        <li>
          
          <a href="/comingsoon">Today's question in sports</a>
        </li>

        <li>
          
          <a href="/comingsoon">Today's question in spirituality</a>
        </li>

    