
<h3>This user is following the users below</h3>


<table border="1">
<tr>
  <th>
  Usernames
  </th>

</tr>

<%@the_follow_request.each do |person|%>
<tr>
  <td>
  <%=person.recipient.username%>
  </td>
</tr>
<%end%>

</table>