
<h3>James is following the users below</h3>


<table border="1">
<tr>
  <th>
  Usernames
  </th>

</tr>
<tr>
<%@the_follow_request.each do |person|%>
  <td>
  <%=person.sender.username%>
  </td>
<%end%>
</tr>
</table>