
<center>
<h1>Welcome to One Question</h1>
<div></div>

<i>Thank you so much for visiting our community. At One Question, we're striving to create a kinder, healthier social media. We believe that questions have the ability to change minds and change the world- 
revealing that as humans, we're more fundamentally alike than we are different, and that
there's tremendous beauty in our differences. If you agree, we would love to have you as part of our growing community of Seekers.
I invite you to explore our Mission, Vision, and Values below. If you find these principles compelling, you'll find a link to our sign-up form at the bottom of the page.
<div></div>
Keep Seeking,
<div></div>
<div></div>
Andrew - Founder of One Question </i>

</center>

 
<div></div>

<h3>Our Mission:</h3>
<p> To unite the world through questions in a way that promotes discourse, well-being, and genuine content</p>

<div></div>

<h3>Our Vision:</h3>
<p>To develop an encouraging community that encourages and values thoughfullness and authenticity</p>

<div></div>

<h3>Our Values:</h3>
<li><p>Our platform is designed to improve the psychological impact that social media often has on its users, we will always act with our users' well-being as our primary consideration.</p></li>
<li><p>We will never collect or sell your data without your explicit permission.</p></li>
<li><p>Our platform is designed to keep our users safe. We will not tolerate bullying, hate speech, or any form of prejudice on our platform.</p></li>
<h6></h6>

<div></div>

<p> If this sounds good to you, please <a href="/user_sign_up">Sign up here</a>  </p>



