<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Please provide a current email..." type="text">
  </div>
                 
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username" placeholder="Please provide a current email..." >
  </div>
         
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <div>
    <label for="admin_box">Admin</label>
    <input id="admin_box" name="query_admin" type="checkbox">
  </div>

  <button>
    Sign up
  </button>
</form>
<i>By signing up for an account, you are agreeing to our terms and conditions, and are confirming that you are 18 years or older</i>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
